<h1>About this Mtg Gatherer Knockoff</h1>

<p>This was made strictly to test building a Ruby on Rails application.
   This is completely unaffiliated with Wizards of the Coast.</p>

<p>The cards from this were pulled from a json file, with fake artists, types and subtypes added
  using the Ruby Faker Gem.</p>

<p> Also, whoever made the json file? Their example lied about the contents.</p>
<p> You can shame them over at https://mtgjson.com/ </p>
