<h1>About this Mtg Gatherer Knockoff</h1>

<p>This was made strictly to test building a Ruby on Rails application.
   This project is completely unaffiliated with Wizards of the Coast.</p>

<p>The cards from this were pulled from a json file, with fake artists, types and subtypes added
  using the Ruby Faker Gem.</p>

<p> The json file can be found over at <a href=https://mtgjson.com/>mtgjson</a>.</p>
<p> Just be aware that their example is a total lie - the artists aren't even in the all sets json
  (which was used to build this demo)! </p>
